@font-face {
    font-family: Roboto;
    src: url('font/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('font/Nunito-Medium.ttf');
}
body {
    font-family: 'Nunito';
    /* background: linear-gradient(to right,white,#ccc); */
}
#degree {
    font-size: 100px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.dropdown-toggle:after{
    display:none !important;
}
@media(min-width: 575px) {
    .atmosphere-options > h5 {
        font-size: 25px !important;
    }
    #degree {
        font-size: 130px;
      
    }

    .atmosphere-options > p {
        font-size: 16px !important;
    }
}


@media(min-width: 991px) {
    .atmosphere-options > h4 {
        font-size: 25px !important;
    }
    #degree {
        font-size: 200px;
    }

    .atmosphere-options > p {
        font-size: 16px !important;
    }
}